:root{
    --back-lightblue: #e6f2ff;
    --back-lightblueB: #cce6ff;
    --font-size: 18px;
    --font-code-size: 15px;
}

body{
    margin: 0px;
    font-family: sans-serif;
    font-size: var(--font-size);
}

#container {
    margin: 0;
    width: 100%;
}

.display_box {
    position: fixed;
    padding: 20px;
}

#display_count{
    margin-bottom: 10px;
}

#code_area textarea{
    background:rgba(0,0,0,0.05);
    padding: 10px;
    border: 1px blue;
    font-size: var(--font-code-size);
    outline: none;
    /* resize: none; */
}
